//bgs
$blue-bg-title-text:#1B3764;
$white-bg:#F5F5F5;
$silver-bg-card:#e7f1ff;

//colors
$yellow-text-btn:#FFCA42;
$light-blue-text:#B4C7E7;
$default-text:#FFFFFF;
$silver-text:#969AA0;



